<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>
    <h1 style="text-align: center;">welcome in profile</h1>
    <h1>hello {{name}}</h1>
    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, ab! Perspiciatis, dignissimos ipsa! Adipisci reiciendis nesciunt consequatur sed maxime vel ullam voluptates. Doloremque deserunt voluptate ratione sequi odit, accusamus quia?</h3>
    <br>
    <a href="{% url 'logout' %}">LogOut</a>
</body>
</html>