<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .para{
        margin: 5px;
        display: flex;
        align-items: center;
    }
</style>
<body>
    <h1>this is  home page</h1>
    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident animi exercitationem quaerat natus? Accusamus nostrum nisi magnam, sapiente omnis rem aliquid, ab quo molestiae sit voluptatum at quia soluta dignissimos.</p>
</body>
</html>